<launch>

<rosparam file="$(find fruit_harvester_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="fruit_harvester" args="Rev179_position_controller Rev192_position_controller Rev193_position_controller Rev202_position_controller Rev204_position_controller Rev205_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/fruit_harvester/joint_states"/>
</node>

</launch>